button.download-button {
    cursor: pointer;
    position: relative;
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #ff6392;
    transition: background-color 0.3s;

    &:hover {
        background-color: #ff85a2;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #333;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: green;
        transition: width 0.3s;
    }
}